
<section class="projects">
<h2> Clients </h2>
<ul class="client-list">
	{% for c in site.clients %}
		<li class="client">
		<h3>{{ c.title }}</h3>
		{% if c.tags %}
			<em>{{ c.tags | join: "</em> - <em>" }}</em>
		{% endif %}
		{% if c.screenshot %}
			<img class="screenshot" src="{{ c.screenshot }}" title="{{ c.title }} screenshot">
		{% endif %}
		<p>
		{% if c.link %} <a href="{{ c.link }}">View Live</a> {% endif %}
		{% if c.link and c.repo %} | {% endif %}
		{% if c.repo %} <a href="{{ c.repo }}">View Repository</a> {% endif %}
		
		{{ c.content }}
		</p>
		</li>
	{% endfor %}
</ul>
</section>