---
# process this pls
---

@import "{{ site.theme }}";

img[role='logo']
{
	border-radius: 50%;
	border: 7px solid #FFFFFF;

	-webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;    
    transition: opacity 0.5s ease-in-out;

    &:hover {
    	filter: saturate(0);
		-webkit-transition: opacity 0.5s ease-in-out;
	    -moz-transition: opacity 0.5s ease-in-out;
	    -o-transition: opacity 0.5s ease-in-out;
	    -ms-transition: opacity 0.5s ease-in-out;    
	    transition: opacity 0.5s ease-in-out;
    }
}

.wrapper
{

	//mobile first pls
	display: block;

	@media(min-width: 600px)
	{
		display: grid;
		grid-template-columns: 30% 70%;
		grid-template-rows: 75% 25%;
		grid-gap: 25px;	
	}
	
}

header
{
	background-color: {{ site.background_color }};
	grid-column: 1;
	grid-row: 1;
	padding: 1rem;
	text-align: center;
	//fix default styles
	float: none;
	position: static;
	width: auto;

	@media(min-width:600px)
	{
		background-color: initial;
	}

	logo
	{

		margin: 0 -7px;
		position: relative;

		@media(min-width:600px)
		{
			display: flex;
		}
	}
}

section
{

	grid-column: 2;
	grid-row: 1 / 3;

	//fix default styles
	float: none;
	width: auto;
}

li.client
{
	list-style-type: none;

	h3
	{
		font-size: 2em;
	}

	span.tag
	{
		border: 1px solid #727272;
		border-radius: 2px;
		padding: 5px;
	}
}



footer
{
	grid-column: 1;
	grid-row: 2;
	padding: 1rem;

	//fix default styles
	bottom: unset;
	float: none;
	position: static;
	width: auto;

}

background
{
	background-color: {{ site.background_color }};
	grid-column: 1;
	grid-row: 1/3;
	z-index: -1;
}