---
---

@import "{{ site.theme }}";

img[role='logo']{
	border-radius: 50%;
	border: 7px solid #FFFFFF;
}

.wrapper {

	//mobile first pls
	display: block;

	@media(min-width: 600px){
		display: grid;
		grid-template-columns: 30% 70%;
		grid-template-rows: 75% 25%;
		grid-gap: 25px;	
	}
	
}

header {
	grid-column: 1;
	grid-row: 1;
	padding: 1rem;
	text-align: center;
	//fix default styles
	float: none;
	position: static;
	width: auto;

	// h1 {
	// 	text-align: center;
	// }

	logo {
		display: flex;
	}
}

section {

	grid-column: 2;
	grid-row: 1 / 3;

	//fix default styles
	float: none;
	width: auto;
}

footer {
	grid-column: 1;
	grid-row: 2;
	padding: 1rem;

	//fix default styles
	bottom: unset;
	float: none;
	position: static;
	width: auto;

}

background {
	background-color: #0699;
	grid-column: 1;
	grid-row: 1/3;
	z-index: -1;
}